html,
body {
  font-family: 'MuseoSans300';
  color: #262626;
  font-size: 100%;
  line-height: 1;
}
h1,
h2,
h3,
h4 {
  font-family: 'MuseoSansRounded700';
  color: #002776;
  font-weight: normal;
  line-height: 1.2;
}
h1 {
  font-size: 3.75rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.875rem;
}
h3 a {
  font-family: 'MuseoSansRounded500';
  color: #008ed2;
  font-size: 1.5rem;
  text-decoration: none;
}
h3 a:hover,
h3 a:focus {
  color: #005aa4;
  text-decoration: none;
}
h4 {
  font-size: 1.5rem;
}
p {
  font-family: 'MuseoSans300';
  color: #262626;
  font-size: 1.125rem;
  line-height: 1.67;
}
p.lead,
p.main-lead {
  font-family: 'MuseoSansRounded500';
  color: #002776;
  font-size: 1.25rem;
  line-height: 1.2;
}
p.main-lead {
  font-size: 1.5rem;
  line-height: 1.5;
}
p.small {
  font-family: 'MuseoSans500';
  font-size: 0.875rem;
  line-height: 1.2;
}
a {
  font-family: 'MuseoSans300';
  color: #008ed2;
  font-size: 1.125rem;
  line-height: 1.67;
  text-decoration: underline;
}
a:hover,
a:focus {
  color: #005aa4;
}
.big-number {
  font-family: 'MuseoSansRounded700';
  color: #002776;
  font-size: 9rem;
  line-height: 1.2;
}
.medium-number {
  font-family: 'MuseoSansRounded700';
  color: #002776;
  font-size: 3.75rem;
  line-height: 1.2;
}
@font-face {
  font-family: 'MuseoSans100';
  src: url('../fonts/Museo Sans/MuseoSans-100.otf') format('opentype');
}
@font-face {
  font-family: 'MuseoSans100';
  font-style: italic;
  src: url('../fonts/Museo Sans/MuseoSans-100Italic.otf') format('opentype');
}
@font-face {
  font-family: 'MuseoSans300';
  src: url('../fonts/Museo Sans/MuseoSans-300.otf') format('opentype');
}
@font-face {
  font-family: 'MuseoSans300';
  font-style: italic;
  src: url('../fonts/Museo Sans/MuseoSans-300Italic.otf') format('opentype');
}
@font-face {
  font-family: 'MuseoSans500';
  src: url('../fonts/Museo Sans/MuseoSans_500.otf') format('opentype');
}
@font-face {
  font-family: 'MuseoSans500';
  font-style: italic;
  src: url('../fonts/Museo Sans/MuseoSans_500_Italic.otf') format('opentype');
}
@font-face {
  font-family: 'MuseoSans700';
  src: url('../fonts/Museo Sans/MuseoSans_700.otf') format('opentype');
}
@font-face {
  font-family: 'MuseoSans700';
  font-style: italic;
  src: url('../fonts/Museo Sans/MuseoSans-700Italic.otf') format('opentype');
}
@font-face {
  font-family: 'MuseoSans900';
  src: url('../fonts/Museo Sans/MuseoSans_900.otf') format('opentype');
}
@font-face {
  font-family: 'MuseoSans900';
  font-style: italic;
  src: url('../fonts/Museo Sans/MuseoSans-900Italic.otf') format('opentype');
}
@font-face {
  font-family: 'MuseoSansRounded100';
  src: url('../fonts/Museo Sans Rounded/exljbris - MuseoSansRounded-100.otf') format('opentype');
}
@font-face {
  font-family: 'MuseoSansRounded300';
  src: url('../fonts/Museo Sans Rounded/exljbris - MuseoSansRounded-300.otf') format('opentype');
}
@font-face {
  font-family: 'MuseoSansRounded500';
  src: url('../fonts/Museo Sans Rounded/exljbris - MuseoSansRounded-500.otf') format('opentype');
}
@font-face {
  font-family: 'MuseoSansRounded700';
  src: url('../fonts/Museo Sans Rounded/exljbris - MuseoSansRounded-700.otf') format('opentype');
}
@font-face {
  font-family: 'MuseoSansRounded900';
  src: url('../fonts/Museo Sans Rounded/exljbris - MuseoSansRounded-900.otf') format('opentype');
}
footer {
  color: white;
  background-color: #676767;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
}
footer .functions {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */