html,
body {
  font-family: 'MuseoSans300';
  color: #262626;
  font-size: 100%;
  line-height: 1;
}
h1,
h2,
h3,
h4 {
  font-family: 'MuseoSansRounded700';
  color: #002776;
  font-weight: normal;
  line-height: 1.2;
}
h1 {
  font-size: 3.75rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.875rem;
}
h3 a {
  font-family: 'MuseoSansRounded500';
  color: #008ed2;
  font-size: 1.5rem;
  text-decoration: none;
}
h3 a:hover,
h3 a:focus {
  color: #005aa4;
  text-decoration: none;
}
h4 {
  font-size: 1.5rem;
}
p {
  font-family: 'MuseoSans300';
  color: #262626;
  font-size: 1.125rem;
  line-height: 1.67;
}
p.lead,
p.main-lead {
  font-family: 'MuseoSansRounded500';
  color: #002776;
  font-size: 1.25rem;
  line-height: 1.2;
}
p.main-lead {
  font-size: 1.5rem;
  line-height: 1.5;
}
p.small {
  font-family: 'MuseoSans500';
  font-size: 0.875rem;
  line-height: 1.2;
}
a {
  font-family: 'MuseoSans300';
  color: #008ed2;
  font-size: 1.125rem;
  line-height: 1.67;
  text-decoration: underline;
}
a:hover,
a:focus {
  color: #005aa4;
}
.big-number {
  font-family: 'MuseoSansRounded700';
  color: #002776;
  font-size: 9rem;
  line-height: 1.2;
}
.medium-number {
  font-family: 'MuseoSansRounded700';
  color: #002776;
  font-size: 3.75rem;
  line-height: 1.2;
}
@font-face {
  font-family: 'MuseoSans100';
  src: url('../fonts/Museo Sans/MuseoSans-100.otf') format('opentype');
}
@font-face {
  font-family: 'MuseoSans100';
  font-style: italic;
  src: url('../fonts/Museo Sans/MuseoSans-100Italic.otf') format('opentype');
}
@font-face {
  font-family: 'MuseoSans300';
  src: url('../fonts/Museo Sans/MuseoSans-300.otf') format('opentype');
}
@font-face {
  font-family: 'MuseoSans300';
  font-style: italic;
  src: url('../fonts/Museo Sans/MuseoSans-300Italic.otf') format('opentype');
}
@font-face {
  font-family: 'MuseoSans500';
  src: url('../fonts/Museo Sans/MuseoSans_500.otf') format('opentype');
}
@font-face {
  font-family: 'MuseoSans500';
  font-style: italic;
  src: url('../fonts/Museo Sans/MuseoSans_500_Italic.otf') format('opentype');
}
@font-face {
  font-family: 'MuseoSans700';
  src: url('../fonts/Museo Sans/MuseoSans_700.otf') format('opentype');
}
@font-face {
  font-family: 'MuseoSans700';
  font-style: italic;
  src: url('../fonts/Museo Sans/MuseoSans-700Italic.otf') format('opentype');
}
@font-face {
  font-family: 'MuseoSans900';
  src: url('../fonts/Museo Sans/MuseoSans_900.otf') format('opentype');
}
@font-face {
  font-family: 'MuseoSans900';
  font-style: italic;
  src: url('../fonts/Museo Sans/MuseoSans-900Italic.otf') format('opentype');
}
@font-face {
  font-family: 'MuseoSansRounded100';
  src: url('../fonts/Museo Sans Rounded/exljbris - MuseoSansRounded-100.otf') format('opentype');
}
@font-face {
  font-family: 'MuseoSansRounded300';
  src: url('../fonts/Museo Sans Rounded/exljbris - MuseoSansRounded-300.otf') format('opentype');
}
@font-face {
  font-family: 'MuseoSansRounded500';
  src: url('../fonts/Museo Sans Rounded/exljbris - MuseoSansRounded-500.otf') format('opentype');
}
@font-face {
  font-family: 'MuseoSansRounded700';
  src: url('../fonts/Museo Sans Rounded/exljbris - MuseoSansRounded-700.otf') format('opentype');
}
@font-face {
  font-family: 'MuseoSansRounded900';
  src: url('../fonts/Museo Sans Rounded/exljbris - MuseoSansRounded-900.otf') format('opentype');
}
html,
body {
  height: 100%;
}
body {
  display: table;
  width: 100%;
}
.page-row {
  display: table-row;
  height: 1px;
}
.page-row-expanded {
  height: 100%;
}
footer {
  color: white;
  background-color: #676767;
  width: 100%;
  padding: 15px 0;
  text-align: center;
}
@media (min-width: 768px) {
  footer .fa {
    font-size: 30px;
    display: block;
  }
}
footer .fa {
  padding: 0 5px 0 0;
}
footer .links {
  padding: 5px 0;
}
html,
body {
  overflow-x: hidden;
}
.yamm {
  background-color: #002776;
}
.yamm a {
  text-decoration: none;
}
.yamm img.logo {
  height: 50px;
}
.yamm .navbar-header {
  background-color: #002776;
}
.yamm .navbar-header .navbar-toggle {
  background-color: white;
}
.yamm .navbar-header .navbar-toggle:hover,
.yamm .navbar-header .navbar-toggle:focus {
  background-color: #eef1f3;
}
.yamm .navbar-header .navbar-toggle .icon-bar {
  background-color: #676767;
}
.yamm .navbar-collapse {
  border-color: #676767;
  background-color: #eef1f3;
  clear: both;
}
.yamm .navbar-collapse .wrapper {
  overflow-x: hidden;
  position: relative;
}
.yamm .navbar-collapse .wrapper:before,
.yamm .navbar-collapse .wrapper:after {
  content: " ";
  position: absolute;
  background: #eef1f3;
  /* Match the background */
  top: 0;
  bottom: 0;
  width: 9999px;
  /* some huge width */
}
.yamm .navbar-collapse .wrapper:before {
  right: 100%;
}
.yamm .navbar-collapse .wrapper:after {
  left: 100%;
}
.yamm .navbar-collapse .navbar-nav {
  float: none;
}
.yamm .navbar-collapse .navbar-nav .dropdown {
  border-left: solid 1px #676767;
}
.yamm .navbar-collapse .navbar-nav .dropdown:last-child {
  border-right: solid 1px #676767;
}
.yamm .navbar-collapse .navbar-nav .dropdown:hover,
.yamm .navbar-collapse .navbar-nav .dropdown:focus {
  background-color: white;
}
.yamm .navbar-collapse .navbar-nav .dropdown.open .dropdown-toggle {
  background-color: white;
}
.yamm .navbar-collapse .navbar-nav .dropdown .dropdown-menu li:hover,
.yamm .navbar-collapse .navbar-nav .dropdown .dropdown-menu li:focus {
  background-color: #eef1f3;
}
@media only screen and (min-width: 768px) {
  .yamm .navbar-collapse .wrapper {
    overflow-x: visible;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 3em;
  }
}
/*# sourceMappingURL=main.css.map */