.login{
    border-color:#e7e7e7;
    border-width:1px;
    border-style: solid;
    
    padding: @padding;
    width:400px;
    width:300px;
    
    float:right;
}

.information{
    padding : @padding;
    .link{
        float : right;
        padding-right : @padding;
    }
}